node_modules/
dist/
.env
out/
cache/
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Foundry
contracts/out/
contracts/cache/

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml

# Secrets
**/*.pem
**/*.key
